* {
    margin: 0;
    padding: 0;
    outline: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    font-family: 'Saira', sans-serif;
}
/*--================================================================
========================  Navbar part start  =======================
================================================================--*/

.navbar {
	position: fixed;
	top: 0;
	transition: all linear .4s;
	z-index: 99999;
	padding-top: 18px;
	padding-bottom: 18px;
	left: 50%;
	transform: translateX(-50%);
    width: 100%;
}
.bg {
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
    border-bottom: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}
.navbar-expand-md .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}
.navbar-light .navbar-nav .nav-link {
	font-family: 'Saira', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border-radius: 6px;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link i {
	font-size: 16px;
	padding-left: 25px;
}
.navbar-light .navbar-nav .nav-link i::first-child {
	padding-left: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2196F3;
    transition: all linear .3s;
}
.navbar-light .navbar-nav .nav-link:focus{
	color: #fff;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #2196F3;
    font-weight: 900;
}
.navbar-toggler i {
    color: #fff;
}
.navbar-light .navbar-toggler {
	color: none;
	border: none;
}
.serv i {
    padding-right: -3px;
}
/*--=================================================================
========================  Banner part start  ========================
=================================================================--*/

#banner {
	background: url(../images/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 250px;
	padding-bottom: 250px;
	position: relative;
    background-attachment: fixed;
/*    background: linear-gradient(to bottom, #22313e 0%, #202723 100%);*/
}    
.banner-item {
    position: relative;
    z-index: 99;
}
.banner-item span {
    color: #2196F3;
}
.banner-item h1 {
    font-family: 'Saira', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-top: 15px;
}
.banner-item h3 {
    font-family: 'Saira', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.banner-item p {
	font-family: 'Saira', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	padding-top: 15px;
	line-height: 30px;
	padding-right: 6px;
}
.social-site  {
    padding-top: 30px;
} 
.social-site a i {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	width: 45px;
	height: 45px;
	line-height: 41px;
	border-radius: 50%;
	margin-right: 20px;
	text-align: center;
	/* background: #fff; */
	border: 3px solid #2196F3;
}
.social-site a i:hover {
    background: #2196F3;
    
}
/*--================================================================
========================  About part start  ========================
================================================================--*/
#about {
    padding-top: 20px;
    padding-bottom: 90px;
    position: relative;
}
#about:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}
.main-hadding h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(to right, #fff ,#fff ,#fff , #2162f3 ,#2162f3 ,#2162f3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	margin-bottom: 40px;
}

.about-img {
    position: relative;
    z-index: 99;
}
.about-main-img {
    position: relative;
}
.about-main-img::after {
	position: absolute;
	content: '';
	top: 33px;
	right: -30px;
	width: 100%;
	height: 100%;
	border: 10px solid #2196F3;
}
.about-btn {
	margin-top: 25px;
}
.about-btn a {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: 0;
    padding: 15px 30px;
    background: #2196F3;
    border: 1px solid #2196F3;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 25px;
}
.about-btn a:hover {
    color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 25px;
}
.headding h2 {
	font-family: 'Saira', sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 40px;
	padding-left: 8px;
}
.headding {
    position: relative;
    z-index: 99;
}
.headding span {
    color: #fff;
    margin-right: 10px;
}
.main-header {
    position: relative;
}
.main-header::after {
	position: absolute;
	content: '';
	top: -5px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	background: #000;
	width: 164px;
	height: 60px;
}
.about-main h3 {
    font-family: 'Saira', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
}
.about-main h3 span {
    font-family: 'Saira', sans-serif;
	color: #2196F3;
}
.about-main p a{
    color: #2196F3;
}
.about-info-one p {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
    word-spacing: 1px;
    line-height: 40px;
	color: #fff;
}
.about-info-one p span{
	color: #fff;
}
.about-info-one p a{
	color: #2196F3;
}
/*--================================================================
========================  Skill part start  ========================
================================================================--*/
#skill {
    padding-bottom: 40px;
    position: relative;
}
#skill:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}
.skill_hadding  h3 {
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}
.skill_hadding  h3::after {
	position: absolute;
	content: '';
	top: 15px;
	right: 30px;
	width: 30px;
	height: 2px;
	background: #2196F3;
}
.skill_hadding  h3::before {
	position: absolute;
	content: '';
	top: 15px;
	left: 30px;
	width: 30px;
	height: 2px;
	background: #2196F3;
}
.prog-text {
	position: relative;
	z-index: 99;
	top: -50px;
	text-align: left;
	text-transform: uppercase;
}
.prog-text h3 {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:  #fff;
}
.progressbar {
	width: 100%;
	background: #6d6262;
	height: 10px;
	position: relative;
	border-radius: 4px;
}
.progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    background: #2196F3;
    height: 100%;
}
.progress2 {
    width: 90%;
}
.progress3 {
    width: 95%;
}
.progress4 {
    width: 80%;
}
.progress5 {
    width: 98%;
}
.progress6 {
    width: 75%;
}
.progress7 {
    width: 85%;
}
.over {
	overflow-x: hidden;
	position: relative;
	padding: 45px 0px;
}
.percent1 {
    position: absolute;
    z-index: 998;
    left: 85%;
    top: -40px;
    text-align: center;
}
.percent2 {
    position: absolute;
    z-index: 899;
    left: 90%;
    top: -40px;
    text-align: center;
}
.percent3 {
    position: absolute;
    z-index: 899;
    left: 75%;
    top: -40px;
    text-align: center;
}
.percent4 {
    position: absolute;
    z-index: 998;
    left: 93%;
    top: -40px;
    text-align: center;
}
.percent5 {
    position: absolute;
    z-index: 899;
    left: 70%;
    top: -40px;
    text-align: center;
}
.percent6 {
    position: absolute;
    z-index: 899;
    left: 80%;
    top: -40px;
    text-align: center;
}
.btns {
	font-size: 18px;
	color: #fff;
    font-weight: 700;
}
/*--================================================================
========================  Service part start  ========================
================================================================--*/

#service {
    padding-top: 20px;
    padding-bottom: 80px; 
    position: relative;
}
#service:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}
.service-bg {
    position: relative;
    z-index: 99;
}
.service-item {
    padding: 25px 10px;
    margin-top: 60px;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 5px rgba(33, 150, 243, 0.5);
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
    border: 1px solid rgba(0, 0, 0, .5);
}
.service-item:hover h2:after {
    width: 60px;
}

.service-main {
    background: #1f212c;
    left: 10%;
    top: 0;
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;

}

.s-circle {
    border: 2px solid #f1f1f1;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    left: 50%;
    top: 50%;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    transition: all linear .4s;
    transform: translate(-50%, -50%);
}


.s_icons {
    background: #f1f1f1;
    display: inline-block;
    left: 50%;
    top: 50%;
    font-size: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all linear .3s;

}
.service-item:hover {
    border: 1px solid #2196F3;
    cursor: pointer;
    box-shadow: none;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
}
.service-item .s_icons i {
    font-size: 40px;
    padding-bottom: 7px;
    line-height: 70px;
    color: #2196F3;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
}



.service-item:hover .s_icons i {
    color: #fff;
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.service-item:hover .s_icons {
    background: #2196F3;
}

.service-item:hover .s-circle {
    border: 2px solid #2196F3;
}

.service-item h2 {
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 12px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
    cursor: pointer;
}

.service-item h2:after {
    position: absolute;
    content: '';
    left: 15px;
    bottom: 0;
    width: 24px;
    height: 2px;
    background: #2196F3;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
}


.service-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px 12px 15px;
    color: #fff;
    -webkit-transition: all linear .4s;
    -o-transition: all linear .4s;
    transition: all linear .4s;
    line-height: 30px;
}
/*--================================================================
========================  Portfolio part start  ====================
================================================================--*/
#portfolio {
    padding-top: 20px;
    padding-bottom: 80px; 
    position: relative;
}
#portfolio:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}

.portfolioFilter ul li  {
    text-decoration: none;
    display: inline-block;
}
.portfolioFilter ul li a {
    margin-right: 25px;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border: 1px solid #2196F3;
    padding: 6px 15px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    cursor: pointer;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #fff;
    text-decoration: none;
}

.portfolioFilter a:hover {
    background: #2196F3;
    color: #fff;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    transition: all linear .3s;
}
.portfolio-imag {
    padding: 30px;
}

.portfolio .portfolio-section .item {
    margin-bottom: 30px;
}

.portfolio .portfolio-section .item .portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-section .item .portfolio-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2196F3;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    border-radius: 5px;
}

.portfolio .portfolio-section .item .portfolio-item:hover:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.portfolio .portfolio-section .item .portfolio-item .item-overlay {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.portfolio .portfolio-section .item .portfolio-item .item-overlay h6 {
    text-transform: uppercase;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}

.portfolio .portfolio-section .item .portfolio-item .item-overlay .icons .icon {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    opacity: 0;
}

.portfolio .portfolio-section .item .portfolio-item .item-overlay .icons .icon a {
    display: inline-block;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    height: 40px;
    width: 40px;
    margin-top: 30px;
    background-color: #fff;
    font-size: 18px;
    line-height: 40px;
    color: #222;
    margin-right: 5px;
    border-radius: 10%;
}

.portfolio .portfolio-section .item .portfolio-item:hover .item-overlay h6,
.portfolio .portfolio-section .item .portfolio-item:hover .item-overlay .icons .icon {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.item-overlay h6 {
	background: white;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	margin: 0 40px;
	border-radius: 6px;
}
.icon a:hover i {
    color: #2196F3;
}

.port-img {
    border-radius: 5px;
}

/*--================================================================
========================  blog part start  =========================
================================================================--*/
#blog {
    padding-top: 20px;
    padding-bottom: 80px;
    position: relative;
}
#blog:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}
.post-slide {
    padding: 0 0px;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.5);
    overflow: hidden;
}
.blog-slider {
    overflow: hidden;
}

.left {
    color: #fff;
    background: #3e3e3e;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 55%;
    left: 35px;
    z-index: 991;
    transform: translateX(-55%);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.right {
    color: #fff;
    background: #3e3e3e;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 55%;
    right: -7px;
    z-index: 991;
    transform: translateX(-55%);
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.right:hover{
    background: #2196F3;
}
.left:hover{
    background: #2196F3;
}


.post-slide .post-img {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    transform: scale(1, 1);
    transition: all 0.3s ease-in-out 0s;
}

.post-slide:hover .post-img img {
    transform: scale(1.2, 1.2);
    filter: none;
    opacity: 1;
}

.post-slide .post-content {
    padding: 20px 30px;
    position: relative;
    background: #fdfdfd;
}

.post-slide .post-date {
	min-width: 28px;
	min-height: 28px;
	line-height: 28px;
	text-align: center;
	background: #0f2234;
	position: absolute;
	top: -240px;
	left: 282px;
}

.post-slide .month {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 2px 10px;
    background: #2196F3;
    text-transform: uppercase;
}

.post-slide .date {
    color: #fff;
    font-size: 16px;
}

.post-slide .post-title {
    margin: 30px 0 10px;
    font-weight: 500;
}
.post-slide .post-title a {
	color: #333;
	font-size: 20px;
	text-transform: capitalize;
	transition: all 0.50s ease 0s;
	position: relative;
	font-weight: 600;
}
.post-slide .post-title a:after {
    position: absolute;
    content: "";
    width: 35%;
    bottom: -5px;
    left: 0;
    border: 1px solid #2196F3;
    transition: all 0.30s ease;
}

.post-slide:hover .post-title a:after {
    width: 100%;
}
.post-slide .post-title a:hover {
	color: #2196F3;
	text-decoration: none;
}

.post-slide .post-description {
    color: #6f6e6e;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
}

.post-slide .post-bar {
	padding: 10px 0;
	list-style: none;
	text-align: center;
	background: #2196F3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.post-slide .post-bar li {
    display: inline-block;
    margin-right: 10px;
}

.post-slide .post-bar li a {
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
    transition: 0.2s ease;
}

.post-slide .post-bar li a:hover {
    text-decoration: none;
    color: #fff;
}

.post-slide .post-bar li i {
    color: #fff;
    margin-right: 5px;
    font-size: 18px;
}

.post-slide .read-more {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    transition: color 0.20s linear;
}
.post-slide .read-more:hover {
    color: #2196F3;
}

/*--================================================================
========================  Contact part start  ======================
================================================================--*/

#contact {
    padding-top: 20px;
    padding-bottom: 70px;
    position: relative;
}
#contact:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}


.phone-icon i {
	border: 2px solid #fff;
	float: left;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	margin-right: 12px;
	text-align: center;
	width: 35px;
	color: #fff;
    border-radius: 8px;
}
.phone-text a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
.phone-text p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #b9b1b1;
}
.phone-text a:hover {
	color: #2196F3;
}
.phone-text {
    padding-left: 20px;
}
.education {
    padding-top: 100px;
}

.education h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600px;
    color: #fff;
    padding-bottom: 20px;
}
.resume-item {
    background: rgba(0, 0, 0, .5);
    margin-right: 40px;
    padding: 30px 40px;
    border-left: 4px solid #2196F3;
    border-bottom: 1px solid #2196F3;
    border-right: 1px solid #2196F3;
    border-top: 1px solid #2196F3;
}
.resume-item h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #fff;
}
.resume-item h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
}
.resume-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
}
.resume-arow {
	position: relative;
	top: -36px;
	left: -41px;
}
.resume-arow i {
    font-size: 40px;
    color: #2196F3;
}



.contact-header {
    position: relative;
    z-index: 99;
}
.contact-header::after {
	position: absolute;
	content: '';
	top: -5px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	background: #000;
	width: 155px;
	height: 60px;
}
.social-icon {
    padding-bottom: 20px; 
}
.fotter-pra p {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
    padding-right: 100px;
    padding-bottom: 30px;
}
.form input{
    font-family: 'Saira', sans-serif;
    background: transparent;
    font-weight: 500;
    color: #fff;
    border: 0;
    border: 1px solid #2196F3;
    border-radius: 25px;
    padding: 10px 20px;
}
.form input[type="text"]{
    width: 47%;
    line-height: 26px;
    color: #fff;
    margin-bottom: 40px;
}
.form input[type="email"]{
    margin-left: 25px;
    line-height: 26px;
    width: 47%;
}
.form input[type="message"]{
    width: 100%;
    height: 150px;
    color: #fff;
    margin-top: 15px;
    padding-bottom: 110px;
}
.form button[type="submit"] {
	font-family: 'Saira', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	color: white;
	line-height: 40px;
	text-transform: uppercase;
	background: #2196F3;
	padding: 5px 40px;
	border: 1px solid #2196F3;
    border-radius: 25px;
    
}
.form button[type="submit"]:hover{
    color: #2196F3;
    border: 1px solid #2196F3;
}


/*--================================================================
========================  Copyright part start  ====================
================================================================--*/

#copyright {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    border-top: 2px solid #fff;
}
#copyright:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #04050a 0%, #1f2137 100%);
}
.social-contacts p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.social-contacts a {
    font-size: 24px;
    color: #fff;
    padding: 0 10px;
    transition: all linear .3s;
}
.social-contacts a:hover {
    color: #2196F3;
    transform: rotate(180deg);
}



